language: cpp
dist: trusty
sudo: enabled

env:
  global:
    - CLFFT_ROOT=${TRAVIS_BUILD_DIR}/bin/make/release
    - OPENCL_REGISTRY=https://www.khronos.org/registry/cl
    - OPENCL_ROOT=${TRAVIS_BUILD_DIR}/bin/opencl

matrix:
  include:
  - os: linux
    compiler: gcc
    env:  CONFIG_IDENTIFIER='linux-gcc' CC_COMPILER_NAME='gcc' CXX_COMPILER_NAME='g++'
    addons:
      apt:
        packages:
        - gcc
        - g++
        - ocl-icd-opencl-dev
        - beignet
        - clinfo

  - os: linux
    compiler: clang
    env: CONFIG_IDENTIFIER='linux-clang-tbb' CC_COMPILER_NAME='clang' CXX_COMPILER_NAME='clang++'
    addons:
      apt:
        packages:
        - clang
        - ocl-icd-opencl-dev
        - beignet
        - clinfo

  - os: osx
    osx_image: xcode8.3
    compiler: clang
    env: CONFIG_IDENTIFIER='osx-clang' CC_COMPILER_NAME='clang' CXX_COMPILER_NAME='clang++'

before_install:
  # If we're working with an OS X machine, then want to install homebrew packages (the APT packages
  # will be ignored)
  - |
    if [ $TRAVIS_OS_NAME == "osx" ]; then
      brew update;
      brew install gcc;
      brew install opencl;
      brew install libomp;
      brew upgrade cmake;
    fi
  - export CXX="$CXX_COMPILER_NAME" CC="$CC_COMPILER_NAME"
  # Print the C++ compiler version.
  - $CXX --version
  # Grab a relatively recent version of CMake, unzip it and add
  # it to the path.
  - |
    if [ $TRAVIS_OS_NAME != "osx" ]; then
      wget https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.tar.gz;
      tar -xzf cmake-3.12.0-Linux-x86_64.tar.gz;
      export PATH="$PWD/cmake-3.12.0-Linux-x86_64/bin/:$PATH";
    fi
  # Print the CMake version.
  - cmake --version

before_script:
  - mkdir build
  - cd build

script:
  - cmake -DAF_BUILD_OPENCL=ON ../CMakeLists.txt
  - make all
  - ./lib/test/libcellularautomata-test

