language: cpp
dist: trusty
sudo: enabled

env:
  global:
    - CLFFT_ROOT=${TRAVIS_BUILD_DIR}/bin/make/release
    - OPENCL_REGISTRY=https://www.khronos.org/registry/cl
    - OPENCL_ROOT=${TRAVIS_BUILD_DIR}/bin/opencl

matrix:
  include:
  - os: linux
    compiler: gcc
    env:  CONFIG_IDENTIFIER='linux-gcc' CC_COMPILER_NAME='gcc' CXX_COMPILER_NAME='g++'
    addons:
      apt:
        packages:
        - gcc
        - g++
        - opencl-headers

  - os: linux
    compiler: clang
    env: CONFIG_IDENTIFIER='linux-clang-tbb' CC_COMPILER_NAME='clang' CXX_COMPILER_NAME='clang++'
    addons:
      apt:
        packages:
        - clang
        - opencl-headers

  - os: osx
    osx_image: xcode8.3
    compiler: clang
    env: CONFIG_IDENTIFIER='osx-clang' CC_COMPILER_NAME='clang' CXX_COMPILER_NAME='clang++'

before_install:
  # If we're working with an OS X machine, then want to install homebrew packages (the APT packages
  # will be ignored)
  - if [ $TRAVIS_OS_NAME == "osx" ]; then brew update; brew install gcc; fi
  - export CXX="$CXX_COMPILER_NAME" CC="$CC_COMPILER_NAME"
  # Print the C++ compiler version.
  - $CXX --version
  # Grab a relatively recent version of CMake, unzip it and add
  # it to the path.
  - if [ $TRAVIS_OS_NAME != "osx" ]; then wget https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.tar.gz; tar -xzf cmake-3.12.0-Linux-x86_64.tar.gz; export PATH="$PWD/cmake-3.12.0-Linux-x86_64/bin/:$PATH"; fi
  # Print the CMake version.
  - cmake --version
  - if [ ${TRAVIS_OS_NAME} == "linux" ]; then
    export OPENCL_ROOT="${TRAVIS_BUILD_DIR}/opencl-headers";
    fi

install:
- if [ ${TRAVIS_OS_NAME} == "linux" ]; then
    mkdir -p ${OPENCL_ROOT};
    pushd ${OPENCL_ROOT};
    travis_retry git clone --depth 1 https://github.com/KhronosGroup/OpenCL-ICD-Loader.git;
    mv ./OpenCL-ICD-Loader/* .;
    travis_retry git clone --depth 1 https://github.com/KhronosGroup/OpenCL-Headers.git inc/CL_headers_repo;
    pushd inc;
    mkdir CL;
    cp CL_headers_repo/opencl22/CL/* CL/;
    popd;
    mkdir -p lib;
    pushd lib;
    cmake -G "Unix Makefiles" ..;
    make;
    sudo cp ./lib/libOpenCL.so /usr/local/lib;
    popd;
    pushd inc/CL;
    rm -rf *;
    cp -r ../CL_headers_repo/opencl12/CL/* .;
    popd;
    sudo cp -r inc/CL /usr/local/include/;
    popd;
  fi

script:
  - cmake CMakeLists.txt
  - make install

